.welcome{
    display: flex;
    flex-direction: column;  
    align-items: start;
    justify-content: center;
    padding: 10px;
}

.welcome > p {
    color: gray;
}


/* Padrão do display flex é ROW */